.radar-container{
    width:800px;
    padding:20px;
    font-size: 30px;
}

.name{
    margin-left:290px;
    color:white;

}

.logo-fyp{
    height:30px;
    
}

.logo{
    height:200px;
    width:230px;
}