:root{
    --dark-pink:#D83F87;
    /* Three primary*/
    --dark-purple:#2A1B3D;
    --purple: #B93DAF;
    --red: #D43725;
    /**/
    --light-purple: #E98074;
    --cloudy-green: #A4B3B6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right,var(--dark-purple),var(--purple));

}

.league-container{
    height:50%;
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.league{
    height: 200px;
    width:200px;
    
}

.container-position{
    width:50%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.position{
    width:200px;
    height:200px;
}

.link{
    height:45px;
    padding:0.75rem;
    
}


.Link{
    text-decoration: none;
    color:white;
}

.next-btn{
    height: 100%;
    width:auto;
}


.container-data-points{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-points{
    width:100px;
}
