* {
    margin: 0;
    padding: 0;
}



.container{
    max-height: fit-content;
}


.data-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    max-height: fit-content;
}

